openapi: 3.2.0
info:
  title: Mend Product Attribution Report Controller API
  description: Mend's enhanced SCA API enables automation of workflows in a REST compliant format.
  version: '2.0'
servers:
- url: https://api-saas.mend.io
  description: Generated server url
security:
- bearer-key: []
tags:
- name: product-attribution-report-controller
paths:
  /api/v2.0/products/{productIdentifier}/librarySettings/attributionReport:
    delete:
      tags:
      - product-attribution-report-controller
      summary: Delete attribution report library settings
      description: Delete library settings to be reflected in the attribution report
      operationId: deleteAttributionReportLibrarySettings
      parameters:
      - name: productIdentifier
        in: path
        description: 'product UUID (by running Entities - Organization > Get Organization Products) or Product Token (from the Mend SCA App: **Integrate** tab > **Product Token**).'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectListRequestDTO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DWRResponseBase'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DWRResponseBase'
components:
  schemas:
    DWRResponseBase:
      type: object
      properties:
        supportToken:
          title: Support Token
          type: string
          example: 1171c60d
    ProjectListRequestDTO:
      required:
      - projectIdentifiers
      type: object
      properties:
        projectIdentifiers:
          type: array
          items:
            title: Project Identifiers
            type: string
            example: 123e4567-e89b-12d3-a456-426655440000
  securitySchemes:
    bearer-key:
      type: http
      description: JWT token Bearer
      scheme: bearer
      bearerFormat: JWT
