{
  "openapi": "3.0.1",
  "info": {
    "title": "Mend API",
    "description": "Mend's enhanced SCA API enables automation of workflows in a REST compliant format. The API features:\n+ Access for any user with Mend credentials, via a user key available in the user's profile page in the Mend App.\n+ Improved security with a JWT token per organization, which expires every 10 minutes.\n+ Added scalability with support for pagination, filtering and sorting search results.\n+ Broader functionality available programmatically.\n+ New standard API documentation for easy navigation and search.\n\n**Note:** To help you get started with the Mend SCA API 2.0, we recommend reviewing our onboarding guide -> [Getting Started with Mend SCA API 2.0](https://docs.mend.io/legacy-sca/latest/getting-started-with-mend-sca-api-2-0).\nThis resource covers initial setup, authentication instructions, and helpful tips to help you successfully begin working with the Mend SCA API 2.0. If you have a dedicated instance of Mend, contact your Mend representative to access this API on your instance.\n",
    "version": "2.0"
  },
  "servers": [
    {
      "url": "https://api-saas.mend.io",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "bearer-key": []
    }
  ],
  "paths": {
    "/api/v2.0/projects/{projectToken}/reassign/{productToken}": {
      "put": {
        "tags": [
          "Entities - Project"
        ],
        "summary": "Reassign Project",
        "description": "Reassigns a project from one product to another.",
        "operationId": "changeAssignment",
        "parameters": [
          {
            "name": "projectToken",
            "in": "path",
            "description": "project UUID (by running Entities - Product > Get Product Projects) or Project Token (from the Mend SCA App: **Integrate** tab > **Project Token**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productToken",
            "in": "path",
            "description": "project UUID (by running Entities - Product > Get Product Projects) or Project Token (from the Mend SCA App: **Integrate** tab > **Project Token**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseMessageDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.0/projects/{projectToken}/policies/{policyUuid}": {
      "get": {
        "tags": [
          "Policies - Project"
        ],
        "summary": "Get Project Policy",
        "description": "Returns a single policy in a given project",
        "operationId": "getContextPolicy",
        "parameters": [
          {
            "name": "projectToken",
            "in": "path",
            "description": "project UUID (by running Entities - Product > Get Product Projects) or Project Token (from the Mend SCA App: **Integrate** tab > **Project Token**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyUuid",
            "in": "path",
            "description": "Policy UUID (by running Policies - Organization and run Get Organization Policies, or the equivalent for Product or Project.)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponsePolicyDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Policies - Project"
        ],
        "summary": "Update Project Policy",
        "description": "Updates a policy for a given project",
        "operationId": "updatePolicy",
        "parameters": [
          {
            "name": "projectToken",
            "in": "path",
            "description": "project UUID (by running Entities - Product > Get Product Projects) or Project Token (from the Mend SCA App: **Integrate** tab > **Project Token**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyUuid",
            "in": "path",
            "description": "Policy UUID (by running Policies - Organization and run Get Organization Policies, or the equivalent for Product or Project.)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponsePolicyDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Policies - Project"
        ],
        "summary": "Delete Project Policy",
        "description": "Deletes a policy for a given project",
        "operationId": "deletePolicy",
        "parameters": [
          {
            "name": "projectToken",
            "in": "path",
            "description": "project UUID (by running Entities - Product > Get Product Projects) or Project Token (from the Mend SCA App: **Integrate** tab > **Project Token**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyUuid",
            "in": "path",
            "description": "Policy UUID (by running Policies - Organization and run Get Organization Policies, or the equivalent for Product or Project.)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseMessageDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.0/projects/{projectToken}/policies/priority": {
      "put": {
        "tags": [
          "Policies - Project"
        ],
        "summary": "Update Project Policy Priorities",
        "description": "Updates the priority of policies in a given project. Policies are numbered and then evaluated sequentially. The request body should contain a list of policy UUIDs in the desired order, starting from highest priority. The service returns a list or ordered policies.",
        "operationId": "updatePriorities",
        "parameters": [
          {
            "name": "projectToken",
            "in": "path",
            "description": "project UUID (by running Entities - Product > Get Product Projects) or Project Token (from the Mend SCA App: **Integrate** tab > **Project Token**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePrioritiesRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseCollectionPolicyDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.0/projects/{projectToken}/libraries/{libraryUuid}/customAttributes/{attributeUuid}/value": {
      "put": {
        "tags": [
          "CustomAttribute - Project"
        ],
        "summary": "Set Custom Attribute",
        "description": "Edits the value of a custom attribute for a specified library, attribute, and context.",
        "operationId": "setCustomAttributeValue",
        "parameters": [
          {
            "name": "projectToken",
            "in": "path",
            "description": "product UUID (by running Entities - Organization > Get Organization Products) or Product Token (from the Mend SCA App: **Integrate** tab > **Product Token**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "libraryUuid",
            "in": "path",
            "description": "library UUID (get a project's library by running Library - Project > Get Project Libraries.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attributeUuid",
            "in": "path",
            "description": "Custom Attribute UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomAttributeValueDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseMessageDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.0/projects/{projectToken}/alerts/security/{alertUuid}": {
      "put": {
        "tags": [
          "Alerts - Project"
        ],
        "summary": "Update Security Alert",
        "description": "Changes a given security alert's status and comments",
        "operationId": "updateSecurityAlert",
        "parameters": [
          {
            "name": "projectToken",
            "in": "path",
            "description": "project UUID (by running Entities - Product > Get Product Projects) or Project Token (from the Mend SCA App: **Integrate** tab > **Project Token**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alertUuid",
            "in": "path",
            "description": "Alert UUID (by running the appropriate Get in Alerts - Project).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRiskRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.0/projects/{projectToken}/alerts/security/library/{libraryUuid}": {
      "put": {
        "tags": [
          "Alerts - Project"
        ],
        "summary": "Update Library Security Alert",
        "description": "Updates the status of a library security alert",
        "operationId": "updateLibrarySecurityAlert",
        "parameters": [
          {
            "name": "projectToken",
            "in": "path",
            "description": "project UUID (by running Entities - Product > Get Product Projects) or Project Token (from the Mend SCA App: **Integrate** tab > **Project Token**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "libraryUuid",
            "in": "path",
            "description": "library UUID (get a project's library by running Library - Project > Get Project Libraries.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRiskRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBoolean"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.0/projects/{projectToken}/alerts/legal/{alertUuid}": {
      "put": {
        "tags": [
          "Alerts - Project"
        ],
        "summary": "Update Legal And Compliance Alert",
        "description": "Updates the status of the legal and compliance alerts for a given project",
        "operationId": "updateLegalAndComplianceAlert",
        "parameters": [
          {
            "name": "projectToken",
            "in": "path",
            "description": "org UUID (by running Entities - Organization > Get User Organizations) or API Key (from the Mend SCA App: **Integrate** tab > **API Key**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alertUuid",
            "in": "path",
            "description": "Alert UUID (by running the appropriate Get in Alerts - Project).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRiskRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.0/projects/{projectToken}": {
      "get": {
        "tags": [
          "Entities - Project"
        ],
        "summary": "Get Project",
        "description": "Returns the project identified by its token",
        "operationId": "getEntity",
        "parameters": [
          {
            "name": "projectToken",
            "in": "path",
            "description": "project UUID (by running Entities - Product > Get Product Projects) or Project Token (from the Mend SCA App: **Integrate** tab > **Project Token**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseProjectDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - Project"
        ],
        "summary": "Rename Project",
        "description": "Renames the project identified by its token.",
        "operationId": "updateProject",
        "parameters": [
          {
            "name": "projectToken",
            "in": "path",
            "description": "project UUID (by running Entities - Product > Get Product Projects) or Project Token (from the Mend SCA App: **Integrate** tab > **Project Token**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContextEntityRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseProjectDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - Project"
        ],
        "summary": "Remove Project",
        "description": "Deletes the project identified by its token",
        "operationId": "removeEntity",
        "parameters": [
          {
            "name": "projectToken",
            "in": "path",
            "description": "project UUID (by running Entities - Product > Get Product Projects) or Project Token (from the Mend SCA App: **Integrate** tab > **Project Token**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseMessageDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.0/projects/{projectIdentifier}/libraries/{libraryUuid}/settings/attributionReport": {
      "put": {
        "tags": [
          "project-attribution-report-controller"
        ],
        "summary": "Update attribution report library settings",
        "description": "Update library settings to be reflected in the attribution report",
        "operationId": "updateAttributionReportLibrarySettings",
        "parameters": [
          {
            "name": "projectIdentifier",
            "in": "path",
            "description": "project UUID (by running Entities - Product > Get Product Projects) or Project Token (from the Mend SCA App: **Integrate** tab > **Project Token**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "libraryUuid",
            "in": "path",
            "description": "library UUID (get a project's library by running Library - Project > Get Project Libraries.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttributionReportLibrarySettingRuleDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.0/products/{productToken}/policies/{policyUuid}": {
      "get": {
        "tags": [
          "Policies - Product"
        ],
        "summary": "Get Product Policy",
        "description": "Returns a single policy in a given product",
        "operationId": "getContextPolicy_1",
        "parameters": [
          {
            "name": "productToken",
            "in": "path",
            "description": "product UUID (by running Entities - Organization > Get Organization Products) or Product Token (from the Mend SCA App: **Integrate** tab > **Product Token**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyUuid",
            "in": "path",
            "description": "Policy UUID (by running Policies - Organization and run Get Organization Policies, or the equivalent for Product or Project.)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponsePolicyDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Policies - Product"
        ],
        "summary": "Update Product Policy",
        "description": "Updates a policy for a given product",
        "operationId": "updatePolicy_1",
        "parameters": [
          {
            "name": "productToken",
            "in": "path",
            "description": "product UUID (by running Entities - Organization > Get Organization Products) or Product Token (from the Mend SCA App: **Integrate** tab > **Product Token**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyUuid",
            "in": "path",
            "description": "Policy UUID (by running Policies - Organization and run Get Organization Policies, or the equivalent for Product or Project.)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponsePolicyDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Policies - Product"
        ],
        "summary": "Delete Product Policy",
        "description": "Deletes a policy for a given product",
        "operationId": "deletePolicy_1",
        "parameters": [
          {
            "name": "productToken",
            "in": "path",
            "description": "product UUID (by running Entities - Organization > Get Organization Products) or Product Token (from the Mend SCA App: **Integrate** tab > **Product Token**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyUuid",
            "in": "path",
            "description": "Policy UUID (by running Policies - Organization and run Get Organization Policies, or the equivalent for Product or Project.)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseMessageDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.0/products/{productToken}/policies/priority": {
      "put": {
        "tags": [
          "Policies - Product"
        ],
        "summary": "Update Product Policy Priorities",
        "description": "Updates the priority of policies in a given product. Policies are numbered and then evaluated sequentially. The request body should contain a list of policy UUIDs in the desired order, starting from highest priority. The service returns a list or ordered policies.",
        "operationId": "updatePriorities_1",
        "parameters": [
          {
            "name": "productToken",
            "in": "path",
            "description": "product UUID (by running Entities - Organization > Get Organization Products) or Product Token (from the Mend SCA App: **Integrate** tab > **Product Token**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePrioritiesRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseCollectionPolicyDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.0/products/{productToken}/libraries/{libraryUuid}/customAttributes/{attributeUuid}/value": {
      "put": {
        "tags": [
          "CustomAttribute - Product"
        ],
        "summary": "Set Custom Attribute",
        "description": "Edits the value of a custom attribute for a specified library, attribute, and context.",
        "operationId": "setCustomAttributeValue_1",
        "parameters": [
          {
            "name": "productToken",
            "in": "path",
            "description": "product UUID (by running Entities - Organization > Get Organization Products) or Product Token (from the Mend SCA App: **Integrate** tab > **Product Token**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "libraryUuid",
            "in": "path",
            "description": "library UUID (get a project's library by running Library - Project > Get Project Libraries.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attributeUuid",
            "in": "path",
            "description": "Custom Attribute UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomAttributeValueDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseMessageDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.0/products/{productToken}": {
      "get": {
        "tags": [
          "Entities - Product"
        ],
        "summary": "Get Product",
        "description": "Returns a product as identified by its token",
        "operationId": "getEntity_1",
        "parameters": [
          {
            "name": "productToken",
            "in": "path",
            "description": "product UUID (by running Entities - Organization > Get Organization Products) or Product Token (from the Mend SCA App: **Integrate** tab > **Product Token**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseContextEntityDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - Product"
        ],
        "summary": "Rename Product",
        "description": "Renames the product identified by its token",
        "operationId": "updateProduct",
        "parameters": [
          {
            "name": "productToken",
            "in": "path",
            "description": "product UUID (by running Entities - Organization > Get Organization Products) or Product Token (from the Mend SCA App: **Integrate** tab > **Product Token**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContextEntityRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseProductDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - Product"
        ],
        "summary": "Remove Product",
        "description": "Deletes a product as identified by its token",
        "operationId": "removeEntity_1",
        "parameters": [
          {
            "name": "productToken",
            "in": "path",
            "description": "product UUID (by running Entities - Organization > Get Organization Products) or Product Token (from the Mend SCA App: **Integrate** tab > **Product Token**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseMessageDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.0/orgs/{orgToken}/settings/whiteList/{uuid}": {
      "put": {
        "tags": [
          "Settings - Whitelist"
        ],
        "summary": "Update single Whitelist Rule",
        "description": "Updates the properties of a single whitelist rule of an organization, including matching libraries, their vulnerability scores and the actions to take",
        "operationId": "updateOrgWhiteListSettings",
        "parameters": [
          {
            "name": "orgToken",
            "in": "path",
            "description": "org UUID (by running Entities - Organization > Get User Organizations) or API Key (from the Mend SCA App: **Integrate** tab > **API Key**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "AllowList rule UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWhiteListRuleRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseWhiteListRuleDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Settings - Whitelist"
        ],
        "summary": "Delete Single Whitelist Rule",
        "description": "Deletes one of the whitelist rules of an organization",
        "operationId": "deleteOrgWhiteListSettings",
        "parameters": [
          {
            "name": "orgToken",
            "in": "path",
            "description": "org UUID (by running Entities - Organization > Get User Organizations) or API Key (from the Mend SCA App: **Integrate** tab > **API Key**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "Whitelist rule UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseMessageDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.0/orgs/{orgToken}/settings/whiteList/rules": {
      "put": {
        "tags": [
          "Settings - Whitelist"
        ],
        "summary": "Update Whitelist Rules",
        "description": "Updates an organization's whitelist rules for vulnerability scores and the actions to take with libraries that appear in the whitelist",
        "operationId": "updateWhiteListRulesSettings",
        "parameters": [
          {
            "name": "orgToken",
            "in": "path",
            "description": "org UUID (by running Entities - Organization > Get User Organizations) or API Key (from the Mend SCA App: **Integrate** tab > **API Key**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UpdateWhiteListRulesRequestDTO"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseMessageDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Settings - Whitelist"
        ],
        "summary": "Add Whitelist Rules",
        "description": "Creates multiple new whitelist rules for an organization, defining which libraries to match, their vulnerability scores and the actions to take. Whitelisted libraries have been pre-approved by your organization so no policy alerts will be created for them during scans, and they will be ignored by all organizational policies.",
        "operationId": "addWhiteListRulesSettings",
        "parameters": [
          {
            "name": "orgToken",
            "in": "path",
            "description": "org UUID (by running Entities - Organization > Get User Organizations) or API Key (from the Mend SCA App: **Integrate** tab > **API Key**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWhiteListRulesRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseListWhiteListRuleDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Settings - Whitelist"
        ],
        "summary": "Delete Whitelist Rules",
        "description": "Deletes all of the whitelist rules of an organization",
        "operationId": "deleteWhiteListRulesSettings",
        "parameters": [
          {
            "name": "orgToken",
            "in": "path",
            "description": "org UUID (by running Entities - Organization > Get User Organizations) or API Key (from the Mend SCA App: **Integrate** tab > **API Key**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DeleteWhiteListRuleRequestDTO"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseMessageDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.0/orgs/{orgToken}/settings/whiteList/apply": {
      "put": {
        "tags": [
          "Settings - Whitelist"
        ],
        "summary": "Apply Whitelist Rules to Existing Inventory",
        "description": "Applies the current whitelist rules to an organization's inventory. Whitelisted libraries are pre-approved by the organization so no policy alerts will be created for them, and they will be ignored by all organizational policies.",
        "operationId": "applyWhiteListRules",
        "parameters": [
          {
            "name": "orgToken",
            "in": "path",
            "description": "org UUID (by running Entities - Organization > Get User Organizations) or API Key (from the Mend SCA App: **Integrate** tab > **API Key**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseMessageDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.0/orgs/{orgToken}/settings/inHouse/{ruleUuid}": {
      "put": {
        "tags": [
          "Settings - In-House"
        ],
        "summary": "Update single InHouse Rule",
        "description": "Updates a single In-House library rule",
        "operationId": "updateInHouseRule",
        "parameters": [
          {
            "name": "orgToken",
            "in": "path",
            "description": "org UUID (by running Entities - Organization > Get User Organizations) or API Key (from the Mend SCA App: **Integrate** tab > **API Key**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ruleUuid",
            "in": "path",
            "description": "The In-House rule UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInHouseRuleRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseWarningInHouseRuleDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Settings - In-House"
        ],
        "summary": "Delete Single In-House Rule",
        "description": "Deletes a single In-House library rule",
        "operationId": "deleteInHouseRule",
        "parameters": [
          {
            "name": "orgToken",
            "in": "path",
            "description": "org UUID (by running Entities - Organization > Get User Organizations) or API Key (from the Mend SCA App: **Integrate** tab > **API Key**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ruleUuid",
            "in": "path",
            "description": "The InHouse rule UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseMessageDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.0/orgs/{orgToken}/settings/inHouse/rules": {
      "put": {
        "tags": [
          "Settings - In-House"
        ],
        "summary": "Update Multiple In-House Rules",
        "description": "Updates the pattern-mat§ching rules of an In-House library rule",
        "operationId": "updateAllowListRulesSettings",
        "parameters": [
          {
            "name": "orgToken",
            "in": "path",
            "description": "org UUID (by running Entities - Organization > Get User Organizations) or API Key (from the Mend SCA App: **Integrate** tab > **API Key**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UpdateInHouseRulesRequestDTO"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseMessageDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Settings - In-House"
        ],
        "summary": "Create Multiple In-House Rules",
        "description": "Creates one or more in-house library rules",
        "operationId": "addInHouseRules",
        "parameters": [
          {
            "name": "orgToken",
            "in": "path",
            "description": "org UUID (by running Entities - Organization > Get User Organizations) or API Key (from the Mend SCA App: **Integrate** tab > **API Key**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateInHouseRuleRequestDTO"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseWarningListInHouseRuleDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Settings - In-House"
        ],
        "summary": "Delete multiple InhHouse rules",
        "description": "Deletes one or more in-house library rules",
        "operationId": "deleteInHouseRules",
        "parameters": [
          {
            "name": "orgToken",
            "in": "path",
            "description": "org UUID (by running Entities - Organization > Get User Organizations) or API Key (from the Mend SCA App: **Integrate** tab > **API Key**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DeleteInHouseRuleRequestDTO"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseMessageDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.0/orgs/{orgToken}/settings/inHouse/apply": {
      "put": {
        "tags": [
          "Settings - In-House"
        ],
        "summary": "Apply In-House Rules",
        "description": "Applies the current In-House library rules to a given organization. Use this request after creating and/or updating In-House rules",
        "operationId": "applyWhiteListRules_1",
        "parameters": [
          {
            "name": "orgToken",
            "in": "path",
            "description": "org UUID (by running Entities - Organization > Get User Organizations) or API Key (from the Mend SCA App: **Integrate** tab > **API Key**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseMessageDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.0/orgs/{orgToken}/policies/{policyUuid}": {
      "get": {
        "tags": [
          "Policies - Organization"
        ],
        "summary": "Get organization policy",
        "description": "Returns the given policy for a particular organization",
        "operationId": "getContextPolicy_2",
        "parameters": [
          {
            "name": "orgToken",
            "in": "path",
            "description": "org UUID (by running Entities - Organization > Get User Organizations) or API Key (from the Mend SCA App: **Integrate** tab > **API Key**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyUuid",
            "in": "path",
            "description": "Policy UUID (by running Policies - Organization and run Get Organization Policies, or the equivalent for Product or Project.)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponsePolicyDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Policies - Organization"
        ],
        "summary": "Update Organization Policy",
        "description": "Updates a policy of a given organization",
        "operationId": "updatePolicy_2",
        "parameters": [
          {
            "name": "orgToken",
            "in": "path",
            "description": "org UUID (by running Entities - Organization > Get User Organizations) or API Key (from the Mend SCA App: **Integrate** tab > **API Key**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyUuid",
            "in": "path",
            "description": "Policy UUID (by running Policies - Organization and run Get Organization Policies, or the equivalent for Product or Project.)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponsePolicyDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Policies - Organization"
        ],
        "summary": "Delete Organization Policy",
        "description": "Deletes the given policy for an organization",
        "operationId": "deletePolicy_2",
        "parameters": [
          {
            "name": "orgToken",
            "in": "path",
            "description": "org UUID (by running Entities - Organization > Get User Organizations) or API Key (from the Mend SCA App: **Integrate** tab > **API Key**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyUuid",
            "in": "path",
            "description": "Policy UUID (by running Policies - Organization and run Get Organization Policies, or the equivalent for Product or Project.)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseMessageDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.0/orgs/{orgToken}/policies/priority": {
      "put": {
        "tags": [
          "Policies - Organization"
        ],
        "summary": "Update Organization Policy Priorities",
        "description": "Updates the priority of policies in a given organization. Policies are numbered and then evaluated sequentially. The request body should contain a list of policy UUIDs in the desired order, starting from highest priority. The service returns a list or ordered policies.",
        "operationId": "updatePriorities_2",
        "parameters": [
          {
            "name": "orgToken",
            "in": "path",
            "description": "org UUID (by running Entities - Organization > Get User Organizations) or API Key (from the Mend SCA App: **Integrate** tab > **API Key**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePrioritiesRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseCollectionPolicyDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.0/orgs/{orgToken}/libraries/{libraryUuid}/customAttributes/{attributeUuid}/value": {
      "put": {
        "tags": [
          "CustomAttribute - Organization"
        ],
        "summary": "Set Custom Attribute",
        "description": "Edits the value of a custom attribute for a specified library, attribute, and context.",
        "operationId": "setCustomAttributeValue_2",
        "parameters": [
          {
            "name": "orgToken",
            "in": "path",
            "description": "org UUID (by running Entities - Organization > Get User Organizations) or API Key (from the Mend SCA App: **Integrate** tab > **API Key**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "libraryUuid",
            "in": "path",
            "description": "library UUID (get a project's library by running Library - Project > Get Project Libraries.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attributeUuid",
            "in": "path",
            "description": "Custom Attribute UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomAttributeValueDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseMessageDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.0/orgs/{orgToken}/groups/{groupUuid}": {
      "get": {
        "tags": [
          "User Management - Groups"
        ],
        "summary": "Get Group",
        "description": "Returns the given group of an organization",
        "operationId": "getGroup",
        "parameters": [
          {
            "name": "orgToken",
            "in": "path",
            "description": "org UUID (by running Entities - Organization > Get User Organizations) or API Key (from the Mend SCA App: **Integrate** tab > **API Key**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupUuid",
            "in": "path",
            "description": "Group UUID (by running User Management - Groups > Get All Groups of Organization).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseGroupDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "User Management - Groups"
        ],
        "summary": "Update Group",
        "description": "Updates the properties of a given group",
        "operationId": "updateGroup",
        "parameters": [
          {
            "name": "orgToken",
            "in": "path",
            "description": "org UUID (by running Entities - Organization > Get User Organizations) or API Key (from the Mend SCA App: **Integrate** tab > **API Key**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupUuid",
            "in": "path",
            "description": "Group UUID (by running User Management - Groups > Get All Groups of Organization).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateGroupRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseGroupDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "User Management - Groups"
        ],
        "summary": "Delete Group",
        "description": "Deletes the given group",
        "operationId": "deleteGroup",
        "parameters": [
          {
            "name": "orgToken",
            "in": "path",
            "description": "org UUID (by running Entities - Organization > Get User Organizations) or API Key (from the Mend SCA App: **Integrate** tab > **API Key**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupUuid",
            "in": "path",
            "description": "Group UUID (by running User Management - Groups > Get All Groups of Organization).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseMessageDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.0/orgs/{orgToken}": {
      "get": {
        "tags": [
          "Entities - Organization"
        ],
        "summary": "Get Organization",
        "description": "Returns an organization as identified by its token. ",
        "operationId": "getEntity_2",
        "parameters": [
          {
            "name": "orgToken",
            "in": "path",
            "description": "org UUID (by running Entities - Organization > Get User Organizations) or API Key (from the Mend SCA App: **Integrate** tab > **API Key**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseContextEntityDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - Organization"
        ],
        "summary": "Rename Organization",
        "description": "Renames the organization identified by its token",
        "operationId": "updateDomain",
        "parameters": [
          {
            "name": "orgToken",
            "in": "path",
            "description": "org UUID (by running Entities - Organization > Get User Organizations) or API Key (from the Mend SCA App: **Integrate** tab > **API Key**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContextEntityRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseDomainDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.0/projects/{projectToken}/policies/apply": {
      "post": {
        "tags": [
          "Policies - Project"
        ],
        "summary": "Apply Project Policies on Inventory",
        "description": "After initiating this call, the process will be performed asynchronously in the background. To check the status of the process and retrieve the final outcome, use the \"Get Async Process Status\" request.",
        "operationId": "applyOnInventory",
        "parameters": [
          {
            "name": "projectToken",
            "in": "path",
            "description": "project UUID (by running Entities - Product > Get Product Projects) or Project Token (from the Mend SCA App: **Integrate** tab > **Project Token**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseAsyncProcessStatusV2DTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.0/projects/{projectToken}/policies": {
      "get": {
        "tags": [
          "Policies - Project"
        ],
        "summary": "Get Project Policies",
        "description": "Returns all of the policies of a given project",
        "operationId": "getContextPolicies",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Filter your search to return items whose property has a specific value.\nUse the syntax: **property:operation:value** where a colon (:) separates between property, operation and value.\n+ Property: the name of the property of the item\n+ Operation:\n    + **equals** - true if the value is identical to this value.\n+ Value: the value of the property.\n\nThis endpoint supports filtering on the following properties and its supported operators:\n+ aggregatePolicies:[equals]:value.  Value can be either **true** or **false**",
            "allowEmptyValue": true
          },
          {
            "name": "projectToken",
            "in": "path",
            "description": "project UUID (by running Entities - Product > Get Product Projects) or Project Token (from the Mend SCA App: **Integrate** tab > **Project Token**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseCollectionPolicyDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Policies - Project"
        ],
        "summary": "Create Project Policy",
        "description": "Creates a new policy for a given project",
        "operationId": "createPolicy",
        "parameters": [
          {
            "name": "projectToken",
            "in": "path",
            "description": "project UUID (by running Entities - Product > Get Product Projects) or Project Token (from the Mend SCA App: **Integrate** tab > **Project Token**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponsePolicyDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.0/profile/userKeys": {
      "get": {
        "tags": [
          "User Profile"
        ],
        "summary": "Get All User Keys",
        "description": "Returns a list of existing user-keys for the current user. These keys are included in all API requests to identify the user",
        "operationId": "getUserKeys",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "Enter the number of items to return in each page of the result.",
            "allowEmptyValue": true,
            "schema": {
              "maximum": 10000,
              "type": "string",
              "default": "50"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Enter the page number to display in the result. Page numbers start at 0",
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "default": "0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponsePageableCollectionUserKeyDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "User Profile"
        ],
        "summary": "Generate User Key",
        "description": "Generates a user-key for the current user. User-keys are included in all api requests to identify the user",
        "operationId": "generateUserKey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateUserKeyRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseUserKeyDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.0/products/{productToken}/projects": {
      "get": {
        "tags": [
          "Entities - Product"
        ],
        "summary": "Get Product Projects",
        "description": "Returns a list of the projects and their tokens for a given product",
        "operationId": "getProjects",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "allowEmptyValue": true,
            "schema": {
              "maximum": 10000,
              "type": "string",
              "default": "50"
            }
          },
          {
            "name": "page",
            "in": "query",
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "default": "0"
            }
          },
          {
            "name": "productToken",
            "in": "path",
            "description": "product UUID (by running Entities - Organization > Get Organization Products) or Product Token (from the Mend SCA App: **Integrate** tab > **Product Token**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponsePageableCollectionProjectDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities - Product"
        ],
        "summary": "Create Project",
        "description": "Creates a new project within a given product. If the project already exists it returns the existing project.",
        "operationId": "createProject",
        "parameters": [
          {
            "name": "productToken",
            "in": "path",
            "description": "product UUID (by running Entities - Organization > Get Organization Products) or Product Token (from the Mend SCA App: **Integrate** tab > **Product Token**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectByProductRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseCreatedProjectDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.0/products/{productToken}/policies/apply": {
      "post": {
        "tags": [
          "Policies - Product"
        ],
        "summary": "Apply Product Policies On Inventory",
        "description": "After initiating this call, the process will be performed asynchronously in the background. To check the status of the process and retrieve the final outcome, use the \"Get Async Process Status\" request.",
        "operationId": "applyOnInventory_1",
        "parameters": [
          {
            "name": "productToken",
            "in": "path",
            "description": "product UUID (by running Entities - Organization > Get Organization Products) or Product Token (from the Mend SCA App: **Integrate** tab > **Product Token**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseAsyncProcessStatusV2DTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.0/products/{productToken}/policies": {
      "get": {
        "tags": [
          "Policies - Product"
        ],
        "summary": "Get Product Policies",
        "description": "Returns all policies of a given product",
        "operationId": "getContextPolicies_1",
        "parameters": [
          {
            "name": "productToken",
            "in": "path",
            "description": "product UUID (by running Entities - Organization > Get Organization Products) or Product Token (from the Mend SCA App: **Integrate** tab > **Product Token**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseCollectionPolicyDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DWRResponseBase"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Policies - Product"
        ],
        "summary": "Create Product Policy",
        "description": "Creates a new policy for a given product",
        "operationId": "createPolicy_1",
        "parameters": [
          {
            "name": "productToken",
            "in": "path",
            "description": "product UUID (by running Entities - Organization > Get Organization Products) or Product Token (from the Mend SCA App: **Integrate** tab > **Product Token**).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
[...]
