openapi: 3.2.0
info:
  title: Mend Access Management - Organizations API
  description: Mend's enhanced SCA API enables automation of workflows in a REST compliant format.
  version: '2.0'
servers:
- url: https://api-saas.mend.io
  description: Generated server url
security:
- bearer-key: []
tags:
- name: Access Management - Organizations
paths:
  /api/v2.0/orgs:
    get:
      tags:
      - Access Management - Organizations
      summary: Get User Organizations
      description: Returns a list of all organizations where the current user is a member.
      operationId: getUserDomains
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DWRResponseCollectionDomainDTO'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DWRResponseBase'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DWRResponseBase'
  /api/v2.0/orgs/{orgToken}/changeOrganization/{otherOrgToken}:
    get:
      tags:
      - Access Management - Organizations
      summary: Change Organization
      description: You can access a different organization by asking for a new JWT token for the new org. The previous JWT is still valid for the previous org until it expires. All JWT tokens are valid for 10 minutes.
      operationId: changeDomain
      parameters:
      - name: orgToken
        in: path
        description: 'org UUID (by running Entities - Organization > Get User Organizations) or API Key (from the Mend SCA App: **Integrate** tab > **API Key**).'
        required: true
        schema:
          type: string
      - name: otherOrgToken
        in: path
        description: 'org UUID (by running Entities - Organization > Get User Organizations) or API Key (from the Mend SCA App: **Integrate** tab > **API Key**).'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DWRResponseSessionInfo'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DWRResponseBase'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DWRResponseBase'
components:
  schemas:
    DWRResponseCollectionDomainDTO:
      type: object
      properties:
        supportToken:
          title: Support Token
          type: string
          example: 1171c60d
        retVal:
          type: array
          items:
            $ref: '#/components/schemas/DomainDTO'
    DWRResponseSessionInfo:
      type: object
      properties:
        supportToken:
          title: Support Token
          type: string
          example: 1171c60d
        retVal:
          $ref: '#/components/schemas/SessionInfo'
    DomainDTO:
      title: OrgDTO
      type: object
      properties:
        uuid:
          title: Org Uuid
          type: string
          example: 123e4567-e89b-12d3-a456-426655440000
        name:
          title: Org Name
          type: string
          example: Organization A
    SessionInfo:
      type: object
      properties:
        correlationId:
          type: string
        userUuid:
          type: string
        userName:
          type: string
        email:
          type: string
        refreshToken:
          type: string
        jwtToken:
          type: string
        orgName:
          title: Organization Name
          type: string
          example: Organization A
        orgUuid:
          title: Organization Uuid
          type: string
          example: 123e4567-e89b-12d3-a456-426655440000
    DWRResponseBase:
      type: object
      properties:
        supportToken:
          title: Support Token
          type: string
          example: 1171c60d
  securitySchemes:
    bearer-key:
      type: http
      description: JWT token Bearer
      scheme: bearer
      bearerFormat: JWT
