openapi: 3.2.0
info:
  title: Mend CustomAttribute - Organization API
  description: Mend's enhanced SCA API enables automation of workflows in a REST compliant format.
  version: '2.0'
servers:
- url: https://api-saas.mend.io
  description: Generated server url
security:
- bearer-key: []
tags:
- name: CustomAttribute - Organization
paths:
  /api/v2.0/orgs/{orgToken}/libraries/{libraryUuid}/customAttributes/{attributeUuid}/value:
    put:
      tags:
      - CustomAttribute - Organization
      summary: Set Custom Attribute
      description: Edits the value of a custom attribute for a specified library, attribute, and context.
      operationId: setCustomAttributeValue_2
      parameters:
      - name: orgToken
        in: path
        description: 'org UUID (by running Entities - Organization > Get User Organizations) or API Key (from the Mend SCA App: **Integrate** tab > **API Key**).'
        required: true
        schema:
          type: string
      - name: libraryUuid
        in: path
        description: library UUID (get a project's library by running Library - Project > Get Project Libraries.
        required: true
        schema:
          type: string
      - name: attributeUuid
        in: path
        description: Custom Attribute UUID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomAttributeValueDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DWRResponseMessageDTO'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DWRResponseBase'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DWRResponseBase'
  /api/v2.0/orgs/{orgToken}/customAttributes:
    get:
      tags:
      - CustomAttribute - Organization
      summary: Get Organization Custom Attributes
      description: Retrieves all custom attributes in the given organization
      operationId: getCustomAttributes
      parameters:
      - name: pageSize
        in: query
        allowEmptyValue: true
        schema:
          maximum: 10000
          type: string
          default: '50'
      - name: page
        in: query
        allowEmptyValue: true
        schema:
          type: string
          default: '0'
      - name: search
        in: query
        description: "Filter your search to return items whose property has a specific value.\nUse the syntax: **property:operation:value** where a colon (:) separates between property, operation and value.\n+ Property: the name of the property of the item\n+ Operation:\n    + **equals** - true if the value is identical to this value.\n+ Value: the value of the property.\n+ context:[equals]:value"
        allowEmptyValue: true
      - name: orgToken
        in: path
        description: 'org UUID (by running Entities - Organization > Get User Organizations) or API Key (from the Mend SCA App: **Integrate** tab > **API Key**).'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DWRResponsePageableListCustomAttributeDTO'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DWRResponseBase'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DWRResponseBase'
components:
  schemas:
    DWRResponsePageableListCustomAttributeDTO:
      type: object
      properties:
        additionalData:
          title: Provides insights into endpoint-supported pagination information.
          type: object
          description: '+ **totalItems**: The total count of data points returned in an API response.

            + **isLastPage**: Defines whether the current page represents the conclusion of the API response. When “true”, this signifies you are viewing the last page of the API response. When “false”, this indicates there are further pages remaining.'
          example:
            totalItems: '422'
            isLastPage: 'true'
        supportToken:
          title: Support Token
          type: string
          example: 1171c60d
        retVal:
          type: array
          items:
            $ref: '#/components/schemas/CustomAttributeDTO'
      description: Provides insights into endpoint-supported pagination information
    DWRResponseMessageDTO:
      type: object
      properties:
        supportToken:
          title: Support Token
          type: string
          example: 1171c60d
        retVal:
          $ref: '#/components/schemas/MessageDTO'
    CustomAttributeDTO:
      type: object
      properties:
        uuid:
          title: Custom Attribute Uuid
          type: string
          example: 123e4567-e89b-12d3-a456-426614174000
        name:
          title: Custom Attribute Name
          type: string
          example: Custom Attribute
        description:
          title: Custom Attribute Description
          type: string
          example: Custom attribute description
        valueType:
          title: Value Type
          type: string
          example: Custom attribute value
        contextType:
          title: Context Type
          type: string
          example: projects
          enum:
          - projects
          - products
          - orgs
    CustomAttributeValueDTO:
      type: object
      properties:
        value:
          title: Custom Attribute Value
          type: string
          example: Custom attribute value
    MessageDTO:
      type: object
      properties:
        message:
          title: message
          type: string
          example: Success!
    DWRResponseBase:
      type: object
      properties:
        supportToken:
          title: Support Token
          type: string
          example: 1171c60d
  securitySchemes:
    bearer-key:
      type: http
      description: JWT token Bearer
      scheme: bearer
      bearerFormat: JWT
