openapi: 3.2.0
info:
  title: Mend Project Attribution Report Controller API
  description: Mend's enhanced SCA API enables automation of workflows in a REST compliant format.
  version: '2.0'
servers:
- url: https://api-saas.mend.io
  description: Generated server url
security:
- bearer-key: []
tags:
- name: project-attribution-report-controller
paths:
  /api/v2.0/projects/{projectIdentifier}/libraries/{libraryUuid}/settings/attributionReport:
    put:
      tags:
      - project-attribution-report-controller
      summary: Update attribution report library settings
      description: Update library settings to be reflected in the attribution report
      operationId: updateAttributionReportLibrarySettings
      parameters:
      - name: projectIdentifier
        in: path
        description: 'project UUID (by running Entities - Product > Get Product Projects) or Project Token (from the Mend SCA App: **Integrate** tab > **Project Token**).'
        required: true
        schema:
          type: string
      - name: libraryUuid
        in: path
        description: library UUID (get a project's library by running Library - Project > Get Project Libraries.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttributionReportLibrarySettingRuleDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DWRResponseBase'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DWRResponseBase'
components:
  schemas:
    AttributionReportLibrarySettingRuleDTO:
      type: object
      properties:
        excluded:
          type: boolean
    DWRResponseBase:
      type: object
      properties:
        supportToken:
          title: Support Token
          type: string
          example: 1171c60d
  securitySchemes:
    bearer-key:
      type: http
      description: JWT token Bearer
      scheme: bearer
      bearerFormat: JWT
