openapi: 3.2.0
info:
  title: Mend Domain Controller API
  description: Mend's enhanced SCA API enables automation of workflows in a REST compliant format.
  version: '2.0'
servers:
- url: https://api-saas.mend.io
  description: Generated server url
security:
- bearer-key: []
tags:
- name: domain-controller
paths:
  /api/v2.0/orgs/managed-domains:
    get:
      tags:
      - domain-controller
      summary: Get User Managed Domains
      description: Returns a list of all organizations where the current user is a domain or application admin.
      operationId: getUserManagedDomains
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DWRResponseCollectionDomainDTO'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DWRResponseBase'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DWRResponseBase'
components:
  schemas:
    DomainDTO:
      title: OrgDTO
      type: object
      properties:
        uuid:
          title: Org Uuid
          type: string
          example: 123e4567-e89b-12d3-a456-426655440000
        name:
          title: Org Name
          type: string
          example: Organization A
    DWRResponseBase:
      type: object
      properties:
        supportToken:
          title: Support Token
          type: string
          example: 1171c60d
    DWRResponseCollectionDomainDTO:
      type: object
      properties:
        supportToken:
          title: Support Token
          type: string
          example: 1171c60d
        retVal:
          type: array
          items:
            $ref: '#/components/schemas/DomainDTO'
  securitySchemes:
    bearer-key:
      type: http
      description: JWT token Bearer
      scheme: bearer
      bearerFormat: JWT
