openapi: 3.2.0
info:
  title: Mend General Info - Permissions API
  description: Mend's enhanced SCA API enables automation of workflows in a REST compliant format.
  version: '2.0'
servers:
- url: https://api-saas.mend.io
  description: Generated server url
security:
- bearer-key: []
tags:
- name: General Info - Permissions
paths:
  /api/v2.0/permissions/byRole:
    get:
      tags:
      - General Info - Permissions
      summary: Get All Available Permissions Grouped By Roles
      description: Returns a list of the current user's permissions grouped by roles
      operationId: getAvailableRolePermissions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DWRResponseListRolePermissionsDTO'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DWRResponseBase'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DWRResponseBase'
components:
  schemas:
    RolePermissionsDTO:
      type: object
      properties:
        role:
          type: string
          enum:
          - DEFAULT_APPROVER
          - ADMIN
          - ALERT_EMAIL_RECEIVER
          - ALERTS_IGNORER
          - LICENSE_AND_COPYRIGHT_ASSIGNER
          - AUDITOR
          - USER
          - PRODUCT_INTEGRATOR
          - SBOM_EXPORTER
        permissions:
          type: array
          items:
            title: User Permissions
            type: string
            example: POLICIES__POLICY__VIEW
    DWRResponseListRolePermissionsDTO:
      type: object
      properties:
        supportToken:
          title: Support Token
          type: string
          example: 1171c60d
        retVal:
          type: array
          items:
            $ref: '#/components/schemas/RolePermissionsDTO'
    DWRResponseBase:
      type: object
      properties:
        supportToken:
          title: Support Token
          type: string
          example: 1171c60d
  securitySchemes:
    bearer-key:
      type: http
      description: JWT token Bearer
      scheme: bearer
      bearerFormat: JWT
