openapi: 3.2.0
info:
  title: Mend CustomAttribute - Project API
  description: Mend's enhanced SCA API enables automation of workflows in a REST compliant format.
  version: '2.0'
servers:
- url: https://api-saas.mend.io
  description: Generated server url
security:
- bearer-key: []
tags:
- name: CustomAttribute - Project
paths:
  /api/v2.0/projects/{projectToken}/libraries/{libraryUuid}/customAttributes/{attributeUuid}/value:
    put:
      tags:
      - CustomAttribute - Project
      summary: Set Custom Attribute
      description: Edits the value of a custom attribute for a specified library, attribute, and context.
      operationId: setCustomAttributeValue
      parameters:
      - name: projectToken
        in: path
        description: 'product UUID (by running Entities - Organization > Get Organization Products) or Product Token (from the Mend SCA App: **Integrate** tab > **Product Token**).'
        required: true
        schema:
          type: string
      - name: libraryUuid
        in: path
        description: library UUID (get a project's library by running Library - Project > Get Project Libraries.
        required: true
        schema:
          type: string
      - name: attributeUuid
        in: path
        description: Custom Attribute UUID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomAttributeValueDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DWRResponseMessageDTO'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DWRResponseBase'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DWRResponseBase'
components:
  schemas:
    DWRResponseBase:
      type: object
      properties:
        supportToken:
          title: Support Token
          type: string
          example: 1171c60d
    CustomAttributeValueDTO:
      type: object
      properties:
        value:
          title: Custom Attribute Value
          type: string
          example: Custom attribute value
    DWRResponseMessageDTO:
      type: object
      properties:
        supportToken:
          title: Support Token
          type: string
          example: 1171c60d
        retVal:
          $ref: '#/components/schemas/MessageDTO'
    MessageDTO:
      type: object
      properties:
        message:
          title: message
          type: string
          example: Success!
  securitySchemes:
    bearer-key:
      type: http
      description: JWT token Bearer
      scheme: bearer
      bearerFormat: JWT
